.page {
  background-color: rgb(69, 69, 102);
}

.array-container {
  margin: 20px 1px 0 2px;
}

.array-bar {
  background-color: rgb(76, 187, 159);
  display: inline-block;
  margin-left: 1px;
  margin-right: 1px;
}

.red {
  background-color: rgb(252, 4, 4);
}

.blue {
  background-color: rgb(16, 0, 247);
}

.yellow {
  background-color: rgb(253, 249, 6);
}

.purple {
  background-color: rgb(178, 118, 212);
}
