.navbar-nav > li {
  padding-left: 70px;
}

.navbar-custom {
  background-color: rgb(122, 90, 121);
  height: 95px;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Roboto";
  color: white;
}

.navbar-brand:hover {
  color: rgb(76, 187, 159);
}

#button {
  background-color: rgb(122, 90, 121);
  border-color: rgb(122, 90, 121);
  font-family: "Roboto";
}

#button:hover {
  color: rgb(76, 187, 159);
}

#button:focus {
  box-shadow: none;
}

#dropdown-toggle {
  background-color: rgb(122, 90, 121);
  border-color: rgb(122, 90, 121);
  font-family: "Roboto";
}

#dropdown-toggle:hover {
  color: rgb(76, 187, 159);
}

#dropdown-toggle:focus {
  box-shadow: none;
}

#dropdown-item {
  font-family: "Roboto";
}

#dropdown-item:hover {
  background-color: rgb(76, 187, 159);
}
